[action*="./Login.aspx?UserService"]
#Contenido .nts-row .nts-columns-2 {
    margin: auto;
    float: none;
}
[action*="./Login.aspx?UserService"]
#NetSiteMasterContent #Contenido .nts-row > div:first-child {
    display: none;
}